# Spotify Data Exploration

Here, we will explore a database of Spotify data using SQL. For ease of display in a Jupyter Notebook, we will do this using SQLite. The database itself is very large and not included with this project, but it can be created from [this Spotify database project](https://github.com/tommcd09/spotify-database). The data comes from a [Kaggle data set](https://www.kaggle.com/datasets/yamaerenay/spotify-dataset-19212020-600k-tracks?select=tracks.csv) containing about 600k tracks and 1 million artists from Spotify from 1921 to 2020. As of mid-2022, Spotify has over 82 million tracks [1], so this is by no means close to all the music on Spotify. However, it is enough to include a lot of great music from a wide range of time periods.

In [1]:
import sqlite3
import pandas as pd

pd.set_option('display.max_rows', 20)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

conn = sqlite3.connect('spotify.db')
c = conn.cursor()

## I. Tracks

To start, let's look at the top 20 tracks in the database by popularity. Spotify bases popularity for the most part on the total number of plays the track has had and how recent those plays are [2]. Since this data was collected in mid-2021, this ranking reflects popularity around that time.

In [2]:
select_top_tracks = """
    SELECT *
    FROM tracks
    ORDER BY popularity DESC
    LIMIT 20;
"""
top_tracks = pd.read_sql_query(select_top_tracks, conn)
top_tracks

,id,name,popularity,duration_ms,explicit,artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,release_year
0,4iJyoBOLtHqaGxP12qzhQI,Peaches (feat. Daniel Caesar & Giveon),100,198082,1,"['Justin Bieber', 'Daniel Caesar', 'Giveon']",2021-03-19,0.68,0.70,0,-6.18,1,0.12,0.32,0.00,0.42,0.46,90.03,4,2021
1,7lPN2DXiMsVn7XUKtOW1CS,drivers license,99,242014,1,['Olivia Rodrigo'],2021-01-08,0.58,0.44,10,-8.76,1,0.06,0.72,0.00,0.10,0.13,143.87,4,2021
2,3Ofmpyhv5UAQ70mENzB277,Astronaut In The Ocean,98,132780,0,['Masked Wolf'],2021-01-06,0.78,0.69,4,-6.87,0,0.09,0.17,0.00,0.15,0.47,150.00,4,2021
3,5QO79kh1waicV47BqGRL3g,Save Your Tears,97,215627,1,['The Weeknd'],2020-03-20,0.68,0.83,0,-5.49,1,0.03,0.02,0.00,0.54,0.64,118.05,4,2020
4,6tDDoYIxWvMLTdKpjFkc1B,telepatía,97,160191,0,['Kali Uchis'],2020-12-04,0.65,0.52,11,-9.02,0,0.05,0.11,0.00,0.20,0.55,83.97,4,2020
5,0VjIjW4GlUZAMYd2vXMi3b,Blinding Lights,96,200040,0,['The Weeknd'],2020-03-20,0.51,0.73,1,-5.93,1,0.06,0.00,0.00,0.09,0.33,171.00,4,2020
6,7MAibcTli4IisCtbHKrGMh,Leave The Door Open,96,242096,0,"['Bruno Mars', 'Anderson .Paak', 'Silk Sonic']",2021-03-05,0.59,0.62,5,-7.96,1,0.03,0.18,0.00,0.09,0.72,148.09,4,2021
7,6f3Slt0GbA2bPZlz0aIFXN,The Business,95,164000,0,['Tiësto'],2020-09-16,0.80,0.62,8,-7.08,0,0.23,0.41,0.02,0.11,0.23,120.03,4,2020
8,60ynsPSSKe6O3sfwRnIBRf,Streets,94,226987,1,['Doja Cat'],2019-11-07,0.75,0.46,11,-8.43,1,0.08,0.21,0.04,0.34,0.19,90.03,4,2019
9,3FAJ6O0NOHQV8Mc5Ri6ENp,Heartbreak Anniversary,94,198371,0,['Giveon'],2020-03-27,0.45,0.47,0,-8.96,1,0.08,0.52,0.00,0.30,0.54,89.09,3,2020
10,27OeeYzk6klgBh83TSvGMA,WITHOUT YOU,94,161385,1,['The Kid LAROI'],2020-11-06,0.66,0.41,0,-7.36,1,0.03,0.21,0.00,0.13,0.47,93.00,4,2020
11,1xK1Gg9SxG8fy2Ya373oqb,Bandido,94,232853,0,"['Myke Towers', 'Juhn']",2020-12-10,0.71,0.62,8,-4.64,1,0.09,0.12,0.00,0.10,0.68,168.02,4,2020
12,7Bk0uXKk1uPT0XuQbpFzvs,Fiel,94,261667,0,"['Los Legendarios', 'Wisin', 'Jhay Cortez']",2021-02-04,0.85,0.70,6,-4.41,0,0.06,0.41,0.00,0.11,0.51,98.00,4,2021
13,4cG7HUWYHBV6R6tHn1gxrl,Friday (feat. Mufasa & Hypeman) - Dopamine Re-...,94,169153,0,"['Riton', 'Nightcrawlers', 'Mufasa & Hypeman',...",2021-01-15,0.82,0.86,2,-3.42,1,0.13,0.01,0.00,0.30,0.80,122.98,4,2021
14,2XIc1pqjXV3Cr2BQUGNBck,LA NOCHE DE ANOCHE,93,203201,0,"['Bad Bunny', 'ROSALÍA']",2020-11-27,0.86,0.62,7,-4.89,1,0.29,0.03,0.00,0.09,0.39,81.99,4,2020
15,3YJJjQPAbDT7mGpX3WtQ9A,Good Days,93,279204,1,['SZA'],2020-12-25,0.44,0.66,1,-8.37,0,0.06,0.50,0.00,0.69,0.41,121.00,4,2020
16,6UelLqGlWMcVH1E5c4H7lY,Watermelon Sugar,92,174000,0,['Harry Styles'],2019-12-13,0.55,0.82,0,-4.21,1,0.05,0.12,0.00,0.34,0.56,95.39,4,2019
17,47EiUVwUp4C9fGccaPuUCS,DÁKITI,92,205090,1,"['Bad Bunny', 'Jhay Cortez']",2020-10-30,0.73,0.57,4,-10.06,0,0.05,0.40,0.00,0.11,0.14,109.93,4,2020
18,35mvY5S1H3J2QZyna3TFe0,positions,92,172325,1,['Ariana Grande'],2020-10-30,0.74,0.80,0,-4.77,1,0.09,0.47,0.00,0.09,0.68,144.01,4,2020
19,3VvA1wSxukMLsvXoXtlwWx,Hecha Pa' Mi,92,186133,0,['Boza'],2020-07-31,0.72,0.76,4,-5.01,1,0.06,0.36,0.00,0.10,0.83,100.07,4,2020

Now let's select the top 20 most danceable tracks.

In [3]:
select_danceable_tracks = """
    SELECT *
    FROM tracks
    ORDER BY danceability DESC
    LIMIT 20;
"""
danceable_tracks = pd.read_sql_query(select_danceable_tracks, conn)
danceable_tracks

,id,name,popularity,duration_ms,explicit,artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,release_year
0,4tq7Q9bTkLqzXNUi8PVmk2,Puisorul cafeniu,15,84707,0,['Malina Olinescu'],2002-01-01,0.99,0.42,0,-11.09,1,0.25,0.31,0.02,0.08,0.99,119.97,4,2002
1,5YIF6HSOtHN9HdcE5IPzMe,Funky Cold Medina,58,248160,0,['Tone-Loc'],1989-01-01,0.99,0.63,5,-15.01,0,0.09,0.08,0.00,0.07,0.93,117.49,4,1989
2,5ObMLQkrprMky3fuOCnFmW,Who Loves The Sun feat. Jo.Ke - Edit,53,256996,0,"['Nu', 'Jo.Ke']",2011-07-12,0.99,0.64,10,-10.24,0,0.07,0.12,0.46,0.24,0.50,120.00,4,2011
3,7yCtSls77Pnz8R4etGfHe5,Tío Mario,11,101760,0,['Susana Bosch'],1998-07-01,0.99,0.46,7,-6.63,1,0.13,0.12,0.00,0.07,0.93,114.85,4,1998
4,6G7Gtq7ymFvYuqcJSAW9cA,New Year (2021),0,42250,0,"['xxrichbeats', 'Egor4ik']",2021-01-20,0.99,0.29,9,-11.45,0,0.20,0.00,0.00,0.13,0.50,119.97,4,2021
5,5GFwJHucflHj46Hwet6qvc,Cool - Leonardo La Mark Remix,0,361967,0,"['Spooner Street', 'Rio Dela Duna', 'Leonardo ...",2021-01-15,0.99,0.65,9,-6.73,1,0.28,0.00,0.38,0.07,0.46,122.00,4,2021
6,1HTN2lX8X87qmMXTtI9FDL,Go Girl,54,229669,1,"['Pitbull', 'Trina', 'Young Bo']",2012-05-29,0.99,0.60,8,-6.81,1,0.31,0.14,0.00,0.20,0.76,115.00,4,2012
7,1MgM0WDaoQ2A3bnIQTR6ty,Go Girl,55,229669,1,"['Pitbull', 'Trina', 'Young Bo']",2012-05-08,0.99,0.60,8,-6.81,1,0.31,0.14,0.00,0.20,0.76,115.00,4,2012
8,3jjfgpQ05jy0hoGwdaVmzH,BABÁM,40,194076,0,"['Horváth Tamás', 'Pixa']",2020-06-10,0.99,0.32,1,-6.96,0,0.11,0.02,0.00,0.09,0.71,121.96,4,2020
9,1JLU51CdgQhWWWokxrbOPM,Como uma onda - Zen-surfismo,45,201400,0,['Lulu Santos'],1983-10-20,0.98,0.38,10,-11.91,0,0.11,0.16,0.90,0.10,0.89,116.48,4,1983
10,2ui62KKhQgwsUF8afLpyXZ,Funky Cold Medina - Re-Recorded,8,249464,0,['Tone-Loc'],2010-12-21,0.98,0.91,0,-7.79,1,0.15,0.00,0.00,0.04,0.81,117.00,4,2010
11,2u2aognU8U2C3bPJO5pVmz,Who Loves The Sun feat. Jo.Ke,59,562239,0,"['Jo.Ke', 'Nu']",2011-07-12,0.98,0.69,10,-9.90,0,0.05,0.19,0.67,0.19,0.69,120.00,4,2011
12,2ppnJ8Wz2US6hbHGX61zy4,O mama mama - Remix 2014,0,211620,0,['Nilla Pizzi'],2014-11-27,0.98,0.52,8,-10.26,1,0.29,0.12,0.90,0.13,0.69,125.01,4,2014
13,6aXvXSfkRVlfFuHql9As2U,Ice Ice Baby,24,301880,0,['Vanilla Ice'],1990-01-01,0.98,0.50,0,-16.78,1,0.11,0.00,0.00,0.06,0.85,115.88,4,1990
14,40EUQlk6xbBXRF6fM0LZh4,Wag Mo Na Sanang Isipin,33,229333,0,['Gary Valenciano'],2008-03-07,0.98,0.66,7,-7.74,1,0.05,0.06,0.00,0.05,0.96,123.87,4,2008
15,0hbyODHkxc8dBTmFBhJoFj,Funky Cold Medina,44,248160,0,['Tone-Loc'],1989-01-01,0.98,0.78,5,-9.62,0,0.09,0.08,0.00,0.06,0.92,117.48,4,1989
16,6e7w5NaE8SbGlf7utjmovs,НА МНЕ КЭШ,47,170260,1,"['ROCKET', 'LILDRUGHILL']",2018-10-04,0.98,0.40,7,-8.77,1,0.52,0.04,0.00,0.10,0.15,120.03,4,2018
17,3uYQkt44U7d66hJyQx2KgO,Tchibum da Cabeça ao Bumbum,54,165053,0,['Palavra Cantada'],2012-01-01,0.98,0.41,0,-9.95,1,0.09,0.40,0.00,0.08,0.98,120.00,4,2012
18,3uoEsMvgRoJH5zhuRyKWRy,Sinabmarin,50,317640,0,['Andrew E.'],2002-01-28,0.98,0.61,5,-8.76,1,0.06,0.01,0.00,0.12,0.97,114.65,4,2002
19,72Mt3GA5ytZuFtbDAkRC5v,Kotek Klopotek,26,170227,0,['Hula Hop'],2002-01-01,0.98,0.68,0,-7.58,1,0.04,0.14,0.00,0.08,0.97,120.00,4,2002

What if we want to label the most danceable songs by whether or not they were from the 90s? We could do this using a CASE WHEN statement.

In [4]:
select_danceable_90s = """
    SELECT 
        id, 
        name,
        artists,
        CASE WHEN release_year BETWEEN 1990 AND 1999 THEN '90s'
        ELSE 'Not 90s' END AS decade
    FROM tracks
    ORDER BY danceability DESC
    LIMIT 20;
"""
danceable_90s = pd.read_sql_query(select_danceable_90s, conn)
danceable_90s

,id,name,artists,decade
0,4tq7Q9bTkLqzXNUi8PVmk2,Puisorul cafeniu,['Malina Olinescu'],Not 90s
1,5YIF6HSOtHN9HdcE5IPzMe,Funky Cold Medina,['Tone-Loc'],Not 90s
2,5ObMLQkrprMky3fuOCnFmW,Who Loves The Sun feat. Jo.Ke - Edit,"['Nu', 'Jo.Ke']",Not 90s
3,7yCtSls77Pnz8R4etGfHe5,Tío Mario,['Susana Bosch'],90s
4,6G7Gtq7ymFvYuqcJSAW9cA,New Year (2021),"['xxrichbeats', 'Egor4ik']",Not 90s
5,5GFwJHucflHj46Hwet6qvc,Cool - Leonardo La Mark Remix,"['Spooner Street', 'Rio Dela Duna', 'Leonardo ...",Not 90s
6,1HTN2lX8X87qmMXTtI9FDL,Go Girl,"['Pitbull', 'Trina', 'Young Bo']",Not 90s
7,1MgM0WDaoQ2A3bnIQTR6ty,Go Girl,"['Pitbull', 'Trina', 'Young Bo']",Not 90s
8,3jjfgpQ05jy0hoGwdaVmzH,BABÁM,"['Horváth Tamás', 'Pixa']",Not 90s
9,1JLU51CdgQhWWWokxrbOPM,Como uma onda - Zen-surfismo,['Lulu Santos'],Not 90s
10,2ui62KKhQgwsUF8afLpyXZ,Funky Cold Medina - Re-Recorded,['Tone-Loc'],Not 90s
11,2u2aognU8U2C3bPJO5pVmz,Who Loves The Sun feat. Jo.Ke,"['Jo.Ke', 'Nu']",Not 90s
12,2ppnJ8Wz2US6hbHGX61zy4,O mama mama - Remix 2014,['Nilla Pizzi'],Not 90s
13,6aXvXSfkRVlfFuHql9As2U,Ice Ice Baby,['Vanilla Ice'],90s
14,40EUQlk6xbBXRF6fM0LZh4,Wag Mo Na Sanang Isipin,['Gary Valenciano'],Not 90s
15,0hbyODHkxc8dBTmFBhJoFj,Funky Cold Medina,['Tone-Loc'],Not 90s
16,6e7w5NaE8SbGlf7utjmovs,НА МНЕ КЭШ,"['ROCKET', 'LILDRUGHILL']",Not 90s
17,3uYQkt44U7d66hJyQx2KgO,Tchibum da Cabeça ao Bumbum,['Palavra Cantada'],Not 90s
18,3uoEsMvgRoJH5zhuRyKWRy,Sinabmarin,['Andrew E.'],Not 90s
19,72Mt3GA5ytZuFtbDAkRC5v,Kotek Klopotek,['Hula Hop'],Not 90s

It doesn't look like many of the most danceable songs came from the 90s. Which decade had the most danceable songs on average? We could find this out by using CASE WHEN statements to group tracks by decade and find the average danceability per decade.

In [5]:
select_avg_danceable_decades = """
    SELECT 
        AVG(danceability) as avg_danceability,
        CASE WHEN release_year BETWEEN 2020 AND 2021 THEN '2020s'
        WHEN release_year BETWEEN 2010 AND 2019 THEN '2010s'
        WHEN release_year BETWEEN 2000 AND 2009 THEN '2000s'
        WHEN release_year BETWEEN 1990 AND 1999 THEN '1990s'
        WHEN release_year BETWEEN 1980 AND 1989 THEN '1980s'
        WHEN release_year BETWEEN 1970 AND 1979 THEN '1970s'
        WHEN release_year BETWEEN 1960 AND 1969 THEN '1960s'
        WHEN release_year BETWEEN 1950 AND 1959 THEN '1950s'
        WHEN release_year BETWEEN 1940 AND 1949 THEN '1940s'
        WHEN release_year BETWEEN 1930 AND 1939 THEN '1930s'
        WHEN release_year BETWEEN 1920 AND 1929 THEN '1920s'
        ELSE 'NA' END AS decade
    FROM tracks
    GROUP BY decade
    ORDER BY avg_danceability DESC;
"""
avg_danceable_decades = pd.read_sql_query(select_avg_danceable_decades, conn)
avg_danceable_decades

    avg_danceability decade
0               0.66  2020s
1               0.61  2010s
2               0.60  1920s
3               0.59  2000s
4               0.57  1990s
5               0.56  1980s
6               0.55  1930s
7               0.52  1970s
8               0.50  1960s
9               0.48  1950s
10              0.48  1940s

It looks like music generally got more danceable after the 1990s, though interestingly enough, the 1920s actually appear near the top of the list as well.

What about the most danceable song per decade?

In [6]:
select_max_danceable_decades = """
    SELECT 
        id,
        name,
        artists,
        MAX(danceability) as max_danceability,
        CASE WHEN release_year BETWEEN 2020 AND 2021 THEN '2020s'
        WHEN release_year BETWEEN 2010 AND 2019 THEN '2010s'
        WHEN release_year BETWEEN 2000 AND 2009 THEN '2000s'
        WHEN release_year BETWEEN 1990 AND 1999 THEN '1990s'
        WHEN release_year BETWEEN 1980 AND 1989 THEN '1980s'
        WHEN release_year BETWEEN 1970 AND 1979 THEN '1970s'
        WHEN release_year BETWEEN 1960 AND 1969 THEN '1960s'
        WHEN release_year BETWEEN 1950 AND 1959 THEN '1950s'
        WHEN release_year BETWEEN 1940 AND 1949 THEN '1940s'
        WHEN release_year BETWEEN 1930 AND 1939 THEN '1930s'
        WHEN release_year BETWEEN 1920 AND 1929 THEN '1920s'
        ELSE 'NA' END AS decade
    FROM tracks
    GROUP BY decade
    ORDER BY max_danceability DESC;
"""
danceable_max_decades = pd.read_sql_query(select_max_danceable_decades, conn)
danceable_max_decades

,id,name,artists,max_danceability,decade
0,4tq7Q9bTkLqzXNUi8PVmk2,Puisorul cafeniu,['Malina Olinescu'],0.99,2000s
1,5ObMLQkrprMky3fuOCnFmW,Who Loves The Sun feat. Jo.Ke - Edit,"['Nu', 'Jo.Ke']",0.99,2010s
2,7yCtSls77Pnz8R4etGfHe5,Tío Mario,['Susana Bosch'],0.99,1990s
3,5YIF6HSOtHN9HdcE5IPzMe,Funky Cold Medina,['Tone-Loc'],0.99,1980s
4,6G7Gtq7ymFvYuqcJSAW9cA,New Year (2021),"['xxrichbeats', 'Egor4ik']",0.99,2020s
5,5Gi4JBJOwzJIuatslIlidd,6 Feet Deep,['Lil Boodang'],0.97,1960s
6,66AB0h3csbgJkQmqPfOuGc,No Cap,"['ОТВАЛ БАWKN', 'Cartier99']",0.96,1940s
7,4czwRicqbT6JES6kIg7KUE,Ο ύμνος του ΠΑΝΑΘΗΝΑΪΚΟΥ,['Λάκης Γαβαλάς'],0.96,1970s
8,3Qd0743VR2NIML4V0T2lm4,Oh Yeah Oh Yeah,"['Mad Dog', 'Meltdown']",0.96,1930s
9,7sdkhHl800uriahzrStfEh,Nepo Bent,['Future Rapper'],0.95,1920s
10,7FQKdMH3xgrNjXDpKTlpWL,Tokeyi Kobina Calipso,['Franco & le T.P OK Jazz'],0.95,1950s

It looks like each decade had at least one very danceable track.

Now let's select the top 10 most danceable tracks by Bruno Mars. To do this, we join the tracks_artists and artists tables and use a WHERE clause to select any tracks with Bruno Mars as artist. We select distinct track names to minimize duplicates.

In [7]:
select_danceable_bruno_mars = """
    SELECT DISTINCT t.name AS track_name, danceability, release_year
    FROM tracks AS t
    INNER JOIN tracks_artists AS ta
    ON t.id = ta.track_id
    INNER JOIN artists AS a
    ON ta.artist_id = a.id
    WHERE a.name = 'Bruno Mars'
    ORDER BY danceability DESC
    LIMIT 10;
"""
danceable_bruno_mars = pd.read_sql_query(select_danceable_bruno_mars, conn)
danceable_bruno_mars

,track_name,danceability,release_year
0,Treasure,0.87,2012
1,Uptown Funk (feat. Bruno Mars),0.86,2015
2,Uptown Funk,0.86,2017
3,That's What I Like,0.85,2016
4,Perm,0.85,2016
5,That's What I Like,0.85,2021
6,Uptown Funk (feat. Bruno Mars),0.85,2018
7,Uptown Funk (feat. Bruno Mars) - Will Sparks R...,0.82,2015
8,24K Magic,0.82,2016
9,Wake Up in the Sky,0.80,2018

Bruno Mars' most danceable track in the database is Treasure. What if we want to find tracks that have the same danceability as Treasure? Now that we know the danceability for Treasure is 0.87, we could just query the database for tracks where danceability equals 0.87. However, if we didn't know the danceability of Treasure beforehand, we could do this using a self join.

In [8]:
select_like_treasure = """
    SELECT DISTINCT t2.id, t2.name, t2.artists, t2.popularity
    FROM tracks AS t1
    INNER JOIN tracks AS t2 
    ON t1.danceability = t2.danceability
    WHERE t1.id <> t2.id 
    AND t1.name = 'Treasure'
    AND t1.artists LIKE '%Bruno Mars%'
    ORDER BY t2.popularity DESC;
"""
like_treasure = pd.read_sql_query(select_like_treasure, conn)
like_treasure

,id,name,artists,popularity
0,55h7vJchibLdUkxdlX3fK7,Treasure,['Bruno Mars'],79
1,0qJeyYAgv6UpvewUxRXAhb,Rags2Riches 2 (feat. Lil Baby),"['Rod Wave', 'Lil Baby']",77
2,2oW5T6viRcUuE6Ttk6TJ9B,TPL x Fumez The Engineer - Plugged In Freestyle,"['Fumez The Engineer', 'Sava', 'BM X MINI']",77
3,1Hs0fpydWBjawdgCocPaC7,Poderosa,"['Lyanno', 'Rauw Alejandro']",74
4,4AE7Lj39VnSZNOmGH2iZaq,Do For Love,['2Pac'],74
...,...,...,...,...
208,43J4w6dkKowrru3yW1g9Yx,Maai Ri Main To Liyo Govind Mol,['Sitara'],0
209,46xYvGf824DuYesZUJbFHC,Ventanita De Arrabal - Instrumental (Remasteri...,['Francisco Canaro'],0
210,5OBiTe0erenDte6Xdkpgdy,Sock that thing,"['Jimmy Blythe & His Orchestra', 'Jimmy Blythe']",0
211,6lK05DEJfJEi1sJyfbUOFF,Cabecitas Locas - Instrumental (Remasterizado),['Francisco Canaro'],0
212,6smLJ9EAwodLnJRAfTRhw0,Freestyle Session Pt. 17 (New Years 2021),['Xcaliber'],0

Next, let's select the 10 most danceable tracks by anyone with "bruno" in their name.

In [9]:
select_danceable_bruno = """
    SELECT DISTINCT t.name AS track_name, a.name AS artist_name, danceability, release_year
    FROM tracks AS t
    INNER JOIN tracks_artists AS ta
    ON t.id = ta.track_id
    INNER JOIN artists AS a
    ON ta.artist_id = a.id
    WHERE LOWER(artist_name) LIKE '%bruno%'
    ORDER BY danceability DESC
    LIMIT 10;
"""
danceable_bruno = pd.read_sql_query(select_danceable_bruno, conn)
danceable_bruno

                       track_name    artist_name  danceability  release_year
0               Budán Vagy Pesten  Bruno X Spacc          0.96          2020
1                        Treasure     Bruno Mars          0.87          2012
2                    Piszkos pénz  Bruno X Spacc          0.87          2021
3                 Fiatal bajnokok  Bruno X Spacc          0.86          2021
4  Uptown Funk (feat. Bruno Mars)     Bruno Mars          0.86          2015
5                     Uptown Funk     Bruno Mars          0.86          2017
6              That's What I Like     Bruno Mars          0.85          2016
7                            Perm     Bruno Mars          0.85          2016
8              That's What I Like     Bruno Mars          0.85          2021
9  Uptown Funk (feat. Bruno Mars)     Bruno Mars          0.85          2018

We see that Bruno Mars doesn't actually have the most danceable track by a Bruno!

## II. Artists

First, let's select the top 20 artists by popularity.

In [10]:
select_top_artists = """
    SELECT *
    FROM artists
    ORDER BY popularity DESC
    LIMIT 20;
"""
top_artists = pd.read_sql_query(select_top_artists, conn)
top_artists

,id,followers,genres,name,popularity
0,1uNFoZAHBGtllmzznpCI3s,44606973,"['canadian pop', 'pop', 'post-teen pop']",Justin Bieber,100
1,4q3ewBCX7sLwd24euuV69X,32244734,"['latin', 'reggaeton', 'trap latino']",Bad Bunny,98
2,06HL4z0CvFAxyc27GXpf02,38869193,"['pop', 'post-teen pop']",Taylor Swift,98
3,3TVXtAsR1Inumwj472S9r4,54416812,"['canadian hip hop', 'canadian pop', 'hip hop'...",Drake,98
4,4MCBfE4596Uoi2O4DtmEMz,16996777,"['chicago rap', 'melodic rap']",Juice WRLD,96
5,1Xyo4u8uXC1ZmMpatF05PJ,31308207,"['canadian contemporary r&b', 'canadian pop', ...",The Weeknd,96
6,3Nrfpe0tUJi4K4DXYWgMUX,31623813,"['k-pop', 'k-pop boy group']",BTS,96
7,7iK8PXO48WeuP03g8YR51W,5001808,['trap latino'],Myke Towers,95
8,66CXWjxzNUsdJxJ2JdwvnR,61301006,"['pop', 'post-teen pop']",Ariana Grande,95
9,1vyhD5VmyZ7KMfW5gqLgo5,27286822,"['latin', 'reggaeton', 'reggaeton colombiano',...",J Balvin,95
10,6M2wZ9GZgrQXHCFfjv46we,24123468,"['dance pop', 'pop', 'uk pop']",Dua Lipa,95
11,7dGJo4pcD2V6oG8kP0tJRR,43747833,"['detroit hip hop', 'hip hop', 'rap']",Eminem,94
12,0Y5tJX1MQlPlqiwlOH1tJY,16118616,"['rap', 'slap house']",Travis Scott,94
13,4r63FhuTkUYltbVAg5TQnk,6485079,"['north carolina hip hop', 'rap']",DaBaby,93
14,1i8SpTcr7yvPOmcqrbnVXY,27772492,"['latin', 'puerto rican pop', 'reggaeton', 'tr...",Ozuna,93
15,1mcTU81TzQhprhouKaTkpq,4438013,"['puerto rican pop', 'trap latino']",Rauw Alejandro,93
16,0du5cEVh5yTK9QJze8zA0C,29899101,"['dance pop', 'pop', 'post-teen pop']",Bruno Mars,93
17,246dkjvS1zLTtiykXe5h60,32167665,"['dfw rap', 'melodic rap', 'rap']",Post Malone,93
18,5f7VJjfbwm532GiveGC0ZK,6789005,"['atl hip hop', 'atl trap', 'rap', 'trap']",Lil Baby,93
19,0eDvMgVFoNV3TpwtrVCoTj,5076597,['brooklyn drill'],Pop Smoke,92

Now let's look at the top 20 artists by number of followers.

In [11]:
select_followers_artists = """
    SELECT *
    FROM artists
    ORDER BY followers DESC
    LIMIT 20;
"""
followers_artists = pd.read_sql_query(select_followers_artists, conn)
followers_artists

,id,followers,genres,name,popularity
0,6eUKZXaKkcviH0Ku9w2n3V,78900234,"['pop', 'uk pop']",Ed Sheeran,92
1,66CXWjxzNUsdJxJ2JdwvnR,61301006,"['pop', 'post-teen pop']",Ariana Grande,95
2,3TVXtAsR1Inumwj472S9r4,54416812,"['canadian hip hop', 'canadian pop', 'hip hop'...",Drake,98
3,1uNFoZAHBGtllmzznpCI3s,44606973,"['canadian pop', 'pop', 'post-teen pop']",Justin Bieber,100
4,7dGJo4pcD2V6oG8kP0tJRR,43747833,"['detroit hip hop', 'hip hop', 'rap']",Eminem,94
5,5pKCCKE2ajJHZ9KAiaK11H,42244011,"['barbadian pop', 'dance pop', 'pop', 'post-te...",Rihanna,92
6,6qqNVTkY8uBg9cP3Jd7DAH,41792604,"['electropop', 'pop']",Billie Eilish,92
7,06HL4z0CvFAxyc27GXpf02,38869193,"['pop', 'post-teen pop']",Taylor Swift,98
8,53XhwfbYqKCa1cC15pYq2q,33665795,"['modern rock', 'rock']",Imagine Dragons,89
9,1dfeR4HaWDbWqFHLkxsg1d,33483326,"['classic rock', 'glam rock', 'rock']",Queen,89
10,7n2wHs1TKAczGzO7Dd2rGr,32419313,"['canadian pop', 'dance pop', 'pop', 'post-tee...",Shawn Mendes,89
11,4q3ewBCX7sLwd24euuV69X,32244734,"['latin', 'reggaeton', 'trap latino']",Bad Bunny,98
12,246dkjvS1zLTtiykXe5h60,32167665,"['dfw rap', 'melodic rap', 'rap']",Post Malone,93
13,3Nrfpe0tUJi4K4DXYWgMUX,31623813,"['k-pop', 'k-pop boy group']",BTS,96
14,1Xyo4u8uXC1ZmMpatF05PJ,31308207,"['canadian contemporary r&b', 'canadian pop', ...",The Weeknd,96
15,04gDigrS5kc9YWfZHwBETP,30291109,"['pop', 'pop rock']",Maroon 5,91
16,64KEffDW9EtZ1y2vBYgq8T,30244604,"['brostep', 'edm', 'pop', 'pop dance', 'progre...",Marshmello,88
17,0du5cEVh5yTK9QJze8zA0C,29899101,"['dance pop', 'pop', 'post-teen pop']",Bruno Mars,93
18,4gzpq5DPGxSnKTe4SA8HAU,29753797,"['permanent wave', 'pop']",Coldplay,89
19,7vk5e3vY1uw9plTHJAMwjN,28026432,['electro house'],Alan Walker,85

The list is similar, but it definitely has some differences. What if we want to know artists who have higher than average popularity but lower than average followers? We could do this using subqueries in the WHERE clause.

In [12]:
select_popular_few_followers = """
    SELECT name, followers, popularity
    FROM artists
    WHERE popularity > 
        (SELECT AVG(popularity)
         FROM artists)
    AND followers < 
        (SELECT AVG(followers)
         FROM artists)
    ORDER BY followers DESC;
"""
popular_few_followers = pd.read_sql_query(select_popular_few_followers, conn)
popular_few_followers

                             name  followers  popularity
0                   Paul Daraîche      10220          39
1                         Bugseed      10220          39
2                  Daniel Kvammen      10219          42
3               Michelle Pfeiffer      10219          46
4                Tokimeki Records      10219          47
...                           ...        ...         ...
306903             Taylor Mallory          0          11
306904                      Motin          0          17
306905                    The Kid          0          17
306906                Sanje619San          0          17
306907  Staatsphilharmonie Kosice          0          14

[306908 rows x 3 columns]

Now let's figure out which genres have the most followers. One way we could figure this out is by grouping by genre name and then summing the followers for all artists within that genre. This will count some followers multiple times because some artists belong to more than one genre, but it should give us a rough idea of the genres with the most followers.

In [13]:
select_top_genres = """
    SELECT SUM(followers) AS total_followers, g.name AS genre_name
    FROM artists AS a
    INNER JOIN genres_artists AS ga
    ON a.id = ga.artist_id
    INNER JOIN genres AS g
    ON ga.genre_id = g.id
    GROUP BY g.name
    ORDER BY total_followers DESC
    LIMIT 20;
"""
top_genres = pd.read_sql_query(select_top_genres, conn)
top_genres

    total_followers          genre_name
0        2042590933                 pop
1        1419017849           dance pop
2        1101120241       post-teen pop
3         889956718                rock
4         861712822                 rap
5         783377110               latin
6         760156008             pop rap
7         645649870             hip hop
8         479275608         trap latino
9         464187687           reggaeton
10        457474204                trap
11        433134128           latin pop
12        388995818        classic rock
13        381228272                 r&b
14        378500760         modern rock
15        374892869                none
16        373986214          electropop
17        356950952  urban contemporary
18        350378557            pop rock
19        350083289            tropical

Not surprisingly, pop music is very popular.

Now let's figure out which artist within each genre has the most followers. For this, we can use a window function to rank each artist in each genre in descending order of followers and store as a CTE. Then we can select any artists with rank = 1 and order by follower count. The result is a list of artists with the most followers partitioned by genre. There are duplicates in this list because some artists belong to multiple genres.

In [14]:
select_artists_by_genre = """
    WITH artists_by_genre AS (
        SELECT 
            a.name AS artist_name, 
            followers,
            g.name AS genre_name,
            RANK() OVER (PARTITION BY g.name ORDER BY followers DESC) AS rank
        FROM artists AS a
        INNER JOIN genres_artists AS ga
        ON a.id = ga.artist_id
        INNER JOIN genres AS g
        ON ga.genre_id = g.id
    )
    SELECT artist_name, followers, genre_name
    FROM artists_by_genre
    WHERE rank = 1
    ORDER BY followers DESC
    LIMIT 20;
"""
artists_by_genre = pd.read_sql_query(select_artists_by_genre, conn)
artists_by_genre

        artist_name  followers          genre_name
0        Ed Sheeran   78900234                 pop
1        Ed Sheeran   78900234              uk pop
2     Ariana Grande   61301006       post-teen pop
3             Drake   54416812    canadian hip hop
4             Drake   54416812        canadian pop
5             Drake   54416812             hip hop
6             Drake   54416812             pop rap
7             Drake   54416812                 rap
8             Drake   54416812         toronto rap
9            Eminem   43747833     detroit hip hop
10          Rihanna   42244011       barbadian pop
11          Rihanna   42244011           dance pop
12          Rihanna   42244011  urban contemporary
13    Billie Eilish   41792604          electropop
14  Imagine Dragons   33665795         modern rock
15  Imagine Dragons   33665795                rock
16            Queen   33483326        classic rock
17            Queen   33483326           glam rock
18     Shawn Mendes   32419313           viral pop
19        Bad Bunny   32244734               latin

Which artists have the most danceable tracks on average? We once again join tracks_artists and artists and select distinct artists. This time, we also use window functions to select how many track IDs each artist has as well as the average danceability of each artist's tracks.

In [15]:
select_danceable_average = """
    SELECT DISTINCT a.id AS artist_id, a.name AS artist_name, 
        COUNT(t.id) OVER (PARTITION BY a.id) AS count_tracks, 
        AVG(danceability) OVER (PARTITION BY a.id) AS avg_danceability
    FROM tracks AS t
    INNER JOIN tracks_artists AS ta
    ON t.id = ta.track_id
    INNER JOIN artists AS a
    ON ta.artist_id = a.id
    ORDER BY avg_danceability DESC
    LIMIT 10;
"""
danceable_average = pd.read_sql_query(select_danceable_average, conn)
danceable_average

,artist_id,artist_name,count_tracks,avg_danceability
0,5McLuoTfnILw7AYs1IQjAj,Rio Dela Duna,1,0.99
1,0RKP3F2s1SHvGpckHuW4S7,Jo.Ke,2,0.99
2,5g9Z4rvzvFBAPvKbesIBTS,Young Bo,2,0.99
3,2GqYze4IEEO8HZyR4Xd7H4,Hula Hop,1,0.98
4,0ikCoBSt1k1mEB3xQA4plg,Yung Coke,1,0.98
5,66fUU8WpehcG7roRl3dpv7,Guacamole Niller,1,0.98
6,0bBz5bRBkExaej2HxtVfCw,347aidan,1,0.98
7,3eHCkAyD6HfMa8mxDKuTjc,Rikke Darling,1,0.98
8,1sBlOfR14FteLT5dMmVP3S,Bevok,1,0.98
9,27tfT7wbZrD3VeWsvTypEa,Popek & Omen & Mot!on,1,0.98

All of these artists have only 1 or 2 tracks total, so they likely have higher danceability averages than other artists with more tracks because they each of their 1 or 2 songs has a very high danceability rating. We would like to see which artists with more than 15 tracks and more than 1 million followers have the most danceable tracks on average. To do this, we move the previous query to a CTE and then query this CTE.

In [16]:
select_danceable_followers = """
    WITH danceable_average AS (
        SELECT DISTINCT a.id AS artist_id, a.name AS artist_name, a.followers,
            COUNT(t.id) OVER (PARTITION BY a.id) AS count_tracks, 
            AVG(danceability) OVER (PARTITION BY a.id) AS avg_danceability
        FROM tracks AS t
        INNER JOIN tracks_artists AS ta
        ON t.id = ta.track_id
        INNER JOIN artists AS a
        ON ta.artist_id = a.id
    )
    SELECT *
    FROM danceable_average
    WHERE followers > 1000000
    AND count_tracks > 15
    ORDER BY avg_danceability DESC
    LIMIT 10;
"""
danceable_followers = pd.read_sql_query(select_danceable_followers, conn)
danceable_followers

,artist_id,artist_name,followers,count_tracks,avg_danceability
0,181bsRPaVXVlUKXrxwZfHK,Megan Thee Stallion,3970975,20,0.88
1,6W5uA6CNMf3hd2j4a2XWCx,Naps,1119113,52,0.85
2,4DdkRBBYG6Yk9Ka8tdJ9BW,Offset,2008309,21,0.84
3,2kS0jWMkkFBL0mrl0VotD0,Ben Fero,2250271,16,0.83
4,3IW7ScrzXmPvZhB27hmfgy,Jul,3730702,141,0.83
5,6oMuImdp5ZcFhWP0ESe6mG,Migos,11350554,26,0.82
6,1Oa0bMld0A3u5OTYfMzp5h,Nate Dogg,1022546,69,0.82
7,09hVIj6vWgoCDtT03h8ZCa,A Tribe Called Quest,1435053,58,0.82
8,2B4ZHz4QDWJTXPFPgO5peE,Warren G,1495752,33,0.82
9,2hlmm7s2ICUX0LVIhVFlZQ,Gunna,3071007,37,0.82

Megan Thee Stallion comes out as having the most danceable tracks for artists with more tracks and followers.

In [17]:
conn.close()

## III. References

1. 'About Spotify'. Spotify. https://newsroom.spotify.com/company-info/.
2. 'Get Track'. Spotify for Developers: Web API Reference. https://developer.spotify.com/documentation/web-api/reference/#/operations/get-track.